/* * * * * * * * * * *
 * Global
 * * * * * * * * * */
$font-stack: 'Raleway', sans-serif
$background-color: #fffdfc
$background-accent-color: #006137
$highlight-color: #F1F4F9
$min-desktop-size: 768px
$text-color: #566473

body
	padding-top: 70px
	background-color: $background-color
	font-family: $font-stack

h1, h2, h3, h4, h5, h6
	color: $text-color
	text-align: center
	text-transform: uppercase
	font-weight: 800
	margin-bottom: 15px

p
	color: $text-color
	font-weight: 600
	font-size: 1.5em
	text-align: center
	@media (min-width: $min-desktop-size)
		text-align: justify

.custom-container
	width: 100%
	margin-left: auto
	margin-right: auto
	padding-left: 50px
	padding-right: 50px

.accent-container
	@extend .custom-container
	width: 100%
	background-color: $background-accent-color
	margin-bottom: 45px

.carousel-control
	&.left, &.right
		background-image: none

.icon-row
	text-align: center
	display: flex
	justify-content: space-around
	flex-flow: row wrap
	i, h2, p
		color: white
	i
		font-size: 5em
		line-height: 100px
	p
		text-align: center
		font-family: 'Helvetica', sans-serif
		font-weight: 300

	.logo-text-pair
		padding-top: 20px
		flex-grow: 1
		max-width: 250px
/* * * * * * * * * * *
 * End Global
 * * * * * * * * * */


/* * * * * * * * * * *
 * Navbar
 * * * * * * * * * */
#navbar-white
	background-color: white
	z-index: 9999
	.navbar-nav
		li
			a
				text-align: right
				color: $text-color
				font-size: 14px
				font-weight: 600
				outline: none
				text-decoration: none
				text-transform: uppercase
				&:hover
					background-color: $highlight-color
		.open
			a
				background-color: white
.navbar-fixed-top
	.nav
		padding: 15px 0
	.navbar-brand
		padding: 0 15px
		@media (min-width: $min-desktop-size)
			padding: 15px 0
.icon-bar
	background-color: black !important

.dropdown-menu
	box-shadow: none
	li
		a
			color: $text-color !important
			font-size: 14px
			font-weight: 600
			padding: 10px 20px
			outline: none
			text-decoration: none
			text-transform: uppercase
.active

/* * * * * * * * * * *
 * End Navbar
 * * * * * * * * * */
 

 /* * * * * * * * * * *
 * Front Page
 * * * * * * * * * */
#welcome-section
	h1
		font-size: 2.5em
		margin-bottom: 15px
		margin: 0 auto
		@media (min-width: $min-desktop-size)
			font-size: 3.5em
	p
		margin-bottom: 50px

#myCarousel
	width: 100%
	margin: auto
	margin-bottom: 50px
	@media (min-width: $min-desktop-size)
		width: 60%

/* * * * * * * * * * *
 * End Front Page
 * * * * * * * * * */

/* * * * * * * * * * *
 * About Page
 * * * * * * * * * */
#profile-col
	h3
		font-size: 1.35em
		line-height: 15px
	display: flex
	flex-flow: column nowrap
	justify-content: space-around

	.profile-pair
		margin-bottom: 30px
		img
			float: left
			width: 35%
			height: auto
		p
			text-align: center
			font-size: 1em
