body {
  padding-top: 70px;
  background-color: #F1F4F9;
  font-family: "Raleway", sans-serif; }

/* * * * * * * * * * *
 * Navbar
 * * * * * * * * */
#navbar-white {
  background-color: white;
  z-index: 9999; }
  #navbar-white .navbar-nav li a {
    color: #566473;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    text-decoration: none;
    text-transform: uppercase; }
    #navbar-white .navbar-nav li a:hover {
      background-color: #F1F4F9; }
  #navbar-white .navbar-nav .open a {
    background-color: white; }

.navbar-fixed-top .nav {
  padding: 15px 0; }
.navbar-fixed-top .navbar-brand {
  padding: 0 15px; }
  @media (min-width: 768px) {
    .navbar-fixed-top .navbar-brand {
      padding: 15px 0; } }

.icon-bar {
  background-color: black !important; }

.dropdown-menu {
  box-shadow: none; }
  .dropdown-menu li a {
    color: #566473 !important;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    outline: none;
    text-decoration: none;
    text-transform: uppercase; }

/* * * * * * * * * * *
 * End Navbar
 * * * * * * * * * */
 *
 *
 * /* * * * * * * * * * *
 * Front Page
 * * * * * * * * */
h1 {
  color: #566473;
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    h1 {
      font-size: 3.5em; } }

p {
  color: #566473;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 50px;
  text-align: justify; }

#myCarousel {
  margin-bottom: 100px;
  width: 45%;
  margin: auto; }

.carousel-control.left, .carousel-control.right {
  background-image: none; }

.blue {
  background-color: #2eaef0; }

.custom-container, .accent-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.accent-container {
  background-color: #006137;
  margin-bottom: 45px; }

#icon-row {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap; }
  #icon-row i, #icon-row h2, #icon-row p {
    color: white; }
  #icon-row i {
    font-size: 5em;
    line-height: 100px; }
  #icon-row p {
    text-align: center;
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    margin-bottom: 15px; }
  #icon-row .logo-text-pair {
    padding-top: 20px;
    flex-grow: 1;
    max-width: 250px; }
