$font-stack: 'Raleway', sans-serif
$background-color: #F1F4F9
$navbar-item-color: #566473
$navbar-item-font: 14px
$navbar-item-weight: 600

body
	padding-top: 70px
	background-color: $background-color
	font-family: $font-stack


#navbar-white
	background-color: white
	z-index: 9999
	.navbar-nav
		li
			a
				color: $navbar-item-color
				font-size: $navbar-item-font
				font-weight: $navbar-item-weight
				outline: none
				text-decoration: none
				text-transform: uppercase